* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column wrap;
  background: linear-gradient(135deg, #667292 0%, #16222a 100%);
  color: white;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
}

#WordDefinitions {
  display: flex;
  align-self: center;
  width: 100vw;
  height: 70%;
  border: 2px solid black;
  background-color: rgb(68, 66, 66, 0.5);
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.TabooText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  height: 10%;
}
