* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column wrap;
  background: linear-gradient(135deg, #667292 0%, #16222a 100%);
  color: white;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
