* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: row wrap;
  background: linear-gradient(135deg, #667292 0%, #16222a 100%);
  color: white;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
}

#Title {
  background-color: #323641;
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
  border-bottom: 2px solid black;
}

#Taboo-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

#RandomButton {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8%;
  border-radius: 500px;
  transition: ease-in-out 0.2s;
}

#RandomButton:hover {
  border: 2px solid black;
  height: 10%;
  border-radius: 250px;

  transition: ease-in-out 0.2s;
}
#RandomButton:active {
  background-color: grey;
}
#Question {
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}
